- if @operadora != "desconhecida"
  %p
    %img{:src => @logotipo, :alt => @operadora}
%p
  A operadora de
  %em
    = @numero
  é
  %em
    - if @uf
      = "#{@operadora} (#{@uf})."
    - else
      = "#{@operadora}."
%p
  %a{:href => "/"}
    Quer ver outro número?
